.large-input {
	height: 10vh;
}

.complete-lesson {
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	white-space: nowrap;
}

.complete-lesson:hover {
	background-color: grey;
}
