.avatar-picture {
	border-radius: 50%;
	border: solid 1px;
	object-fit: cover;
	height: 10vh;
	background-color: gray;
}

.single-student-container {
	display: block;
	border: outset #eee;
	padding: 1rem;
	margin: 1rem;
	background: #fff;
}

.students-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.students-lessons-list {
	list-style: none;
}

.students-lessons-container {
	padding: 0.5rem;
}

.single-lesson {
	margin: 0.5rem;
	cursor: pointer;
}

.selected-lesson-container {
	display: block;
	margin: 1rem;
	padding: 1rem;
}

.teacher-header {
	display: flex;
	align-items: center;
	padding: 1rem;
}

#teacher-header-text {
	padding-left: 0.5rem;
}

.hover-text {
	position: absolute;
	background: lightgray;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 1em;
	z-index: 1000;
	color: black;
	font-size: 0.8em;
}

.show-lessons-button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
}

.show-lessons-button:hover {
	background-color: lightgrey;
}

@media screen and (min-width: 300px) {
	.students-container {
		grid-template-columns: auto;
	}
}

@media screen and (min-width: 600px) {
	.show-lessons-button {
		display: block;
		margin: 0.2em auto;
	}

	.students-container {
		grid-template-columns: auto auto;
	}
}

@media screen and (min-width: 900px) {
	.students-container {
		grid-template-columns: auto auto auto;
	}
}

@media screen and (min-width: 1200px) {
	.students-container {
		grid-template-columns: auto auto auto auto;
	}
}
