.avatar-picture {
	border-radius: 50%;
	border: solid;
	width: 8vw;
	background-color: gray;
}

.single-student-container {
	display: block;
	border: solid;
	padding: 1rem;
	margin: 1rem;
	background: #fff;
}

.students-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.students-lessons-list {
	list-style: none;
}

.students-lessons-container {
	padding: 1rem;
}

.single-lesson {
	margin: 1rem;
	cursor: pointer;
}

.selected-lesson-container {
	display: block;
	margin: 1rem;
	padding: 1rem;
}

.teacher-header {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.teacher-text {
	font-size: 3vw;
}

#teacher-header-text {
	padding-left: 0.5rem;
}
