.avatar-picture {
	border-radius: 50%;
	border: solid 1px #eee;
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-width: 150px;
	max-height: 150px;
	background-color: gray;
}

.single-student-container {
	display: block;
	border: outset #eee;
	padding: 1rem;
	margin: 1rem;
	background: #fff;
}

.students-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

.students-lessons-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
}

.students-lessons-container {
	padding: 1em;
	margin: 1em;
	border-top: solid 2px #eee;
}

.single-lesson {
	cursor: pointer;
	transition: all 0.2s;
	width: fit-content;
	margin: 1em auto;
}

.single-lesson:hover {
	transform: scale(1.2);
}

.selected-lesson-container {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	border: outset #eee;
	background: #fff;
	width: 50%;
}

.selected-lesson-header {
	display: flex;
}

.teacher-header {
	display: flex;
	align-items: center;
	padding: 1rem;
}

#teacher-header-text {
	padding-left: 0.5rem;
}

.hover-text {
	position: absolute;
	background: lightgray;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 1em;
	z-index: 1000;
	color: black;
	font-size: 0.8em;
	overflow: hidden;
}

.show-lessons-button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
}

.show-lessons-button:hover {
	background-color: lightgrey;
}

.delete-button {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0em 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
}

.delete-button:hover {
	background-color: #da3a26;
}

@media screen and (min-width: 300px) {
	.students-container {
		grid-template-columns: auto;
	}

	.selected-lesson-container {
		width: 90%;
	}
}

@media screen and (min-width: 600px) {
	.students-container {
		grid-template-columns: auto auto;
	}

	.selected-lesson-container {
		width: 75%;
	}
}

@media screen and (min-width: 900px) {
	.students-container {
		grid-template-columns: auto auto;
	}

	.selected-lesson-container {
		width: 60%;
	}
}

@media screen and (min-width: 1200px) {
	.students-container {
		grid-template-columns: auto auto auto auto;
	}

	.selected-lesson-container {
		width: 33.3%;
	}
}
