.errors {
	color: red;
	padding: 0.5rem;
}

.page-header {
	padding: 0.5em;
	font-size: 3em;
}

.success {
	color: blue;
	padding: 2rem;
}

.form-div {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.sub-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: stretch;
}

.form-button {
	padding: 10px;
	border: none;
	background-color: rgba(73, 63, 252, 1);
	color: #fff;
	border-radius: 10px;
	width: 33.3%;
	margin: 10px;
	transition: ease-in 0.2s;
}

.form-button:hover {
	background-color: rgb(110, 94, 254);
}

.large-input {
	height: 10vh;
}

#upload-pic-div {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
}

#upload-button {
	width: 75%;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date],
textarea {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid gray;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	width: 75%;
	text-align: left;
}

select {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid gray;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	width: 75%;
}

input[type=file] {
	padding: 10px;
	margin: 10px 0;
	width: 100%;
}

label {
	padding: 10px;
	margin: 10px 0;
	text-align: right;
}

@media screen and (max-width: 940px) {
	input[type=text],
	input[type=password],
	input[type=number],
	input[type=date],
	input[type=file],
	textarea,
	select {
		width: 75%;
		margin: 1em 0;
	}

	label {
		white-space: wrap;
		overflow: scroll;
	}

	.form-div {
		grid-template-columns: 1fr 3fr;
	}

	.sub-div {
		display: block;
	}

	.form-button {
		width: 50%;
	}
}
