.errors {
	color: red;
	padding: 0.5rem;
}

.success {
	color: blue;
	padding: 2rem;
}

.form-div {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.form-button {
	padding: 10px;
	border: none;
	background-color: #3f51b5;
	color: #fff;
	border-radius: 10px;
	width: 25%;
	margin: 10px;
	transition: ease-in 0.2s;
}

.form-button:hover {
	background-color: grey;
}

.large-input {
	height: 10vh;
}

input[type=text],
input[type=password],
input[type=number] {
	padding: 10px;
	margin: 10px 0;
	border: 2px solid gray;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	width: 50%;
	text-align: left;
}

input[type=file] {
	padding: 10px;
	margin: 10px 0;
	width: 50%;
}

input[type=date] {
	padding: 10px;
	margin: 10px 0;
	width: 50%;
	border-radius: 10px;
}

textarea {
	padding: 10px;
	margin: 10px 0;
	width: 50%;
	border-radius: 10px;
	text-align: left;
}

label {
	padding: 10px;
	margin: 10px 0;
	text-align: right;
}

select {
	width: 50%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
}
